# Build artifacts
bootstrap
local
lambda.zip
*.zip
.build/

# Terraform state files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Terraform sensitive configuration
terraform.tfvars

# Test coverage reports
coverage.out
